
#btn{
    transition: 2s;
}


#st{
    visibility: hidden;
    font-weight: bold;
    transition: 3s;
}

.show{
    visibility: visible !important;
}

.test{
    font-size: 18px;

}

.test3{
  font-size: 12px;
}